.marker-button {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.marker-button:active {
  background-color: #7d7f7c;
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-color: gray;
}

.marker-button:hover {
  background-color: #faf9f6;
  border-color: gray;
}
